:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.dark {
  background-color: #0f0f0f;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #0f0f0f;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}


.container {
  padding: 30px;
}

.navbar-brand,
.navbar-brand > span {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 30px;
}

.navbar {
  background-color: rgb(39, 7, 46);
  position: relative;
}

.navbar-brand {
  margin: 0 15px;
}

.nav-link {
  margin: 0 5px;
}

.nav-link:hover {
  transform: scale(1.05);
}

.section1 {
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mt_30 {
  margin-top: 30px;
}


.carousel-item,
.carousel-item > img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 43vw;
  object-position: 0 23%;
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  height: 30vw;
  width: 100%;
  margin-top: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
}

.carousel-detail {
  color: white;
  text-shadow: 1px 1px #000;
  font-size: 4vw;
  font-weight: 100;
  text-align: left;
}

.carousel-text {
  text-align: left;
  /* padding-right: 20%; */
  font-size: 1.8vw;
}

.carousel-btn {
  padding-bottom: 30px;
  font-size: 1rem;
  text-align: left;
}

.carousel .carousel-indicators button {
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
.search-bar {
  position: relative;
  width: 240px;
  height: 32px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 16px;
  outline: 0;
  background: none;
  margin: 0 5px;
  color: white;
  margin-right: 10px;
}

.bi-search {
  margin-top: 10px;
  margin-right: 5px;
}

.btn-nav:hover {
  transform: scale(1.05);
}

.sign-in {
  position: relative;
  background-color: rgb(39, 7, 46);
  border-radius: 25px;
  padding: 20px 30px;
}

.signin-text {
  font-style: normal;
  font-weight: 300;
  font-size: 31px;
  line-height: 37px;
  margin-top: 25px;
  color: white;
  text-align: center;
}

.or-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: white;
}

.dropdown-menu {
  width: 500px;
  height: 500px;
}

.alert {
  margin: 10px 20px;
}


.list-group-item {
  width: 30px;
  padding: 0 10px;
}

.card,
.card > img {
  display: block;
}

.card-img {
  position: relative;
  border-radius: 5px;
}

.card {
  position: absolute;
  display: grid;
  justify-content: center;
}
.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.906), transparent);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 70px;
  border-radius: 5px;
}

.overlay-grid {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.945), transparent);
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  border-radius: 5px;
}


.card-body:hover .overlay-grid {
  transition: 0.3s;
}

.card-body:hover .overlay {
  opacity: 0.8;
  transition: 0.3s;
}

.card-body:hover {
  transform: scale(1.05);
}

.card-body:hover .title-text {
  opacity: 1;
  transition: 0.3s;
}

.text {
  color: white;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
}

.title-text {
  color: white;
  font-size: 1em;
  font-weight: 600;
  position: absolute;
  padding-bottom: 10px;
  left: 65px;
  transform: translate(-50%, -50%);
  width: 120px;
  z-index: 2;
}

.movie-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.text-genre {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
}

.movie-container {
  flex: 1;
  flex-direction: "row";
  align-items: "center";
  justify-content: "space-between";
}

.footer {
  background-color: rgb(39, 7, 46);
}

.modal-content,
.modal-content > img {
  width: 100%;
  border-radius: 25px;
  position: absolute;
}


/* .modal-content,
.modal-content > img:after {
  filter: brightness(30%);
  position: absolute;
} */

.modal-body{
  border-radius: 5px;
}


.modal-movie-title {
  position: absolute;
  font-size: 2.5vw;
  top: 3vw;
  left: 30vw;
  /* right: 5vw; */
  color: white;
  font-weight: 900;
}

.modal-movie-id {
  position: absolute;
  top: 7vw;
  left: 30vw;
  right: 5vw;
  font-size: 1.3vw;
}

.modal-movie-score {
  position: absolute;
  top: 7vw;
  left: 38vw;
  right: 5vw;
  color: darkgrey;
  font-size: 1.3vw;
}

.modal-body, .modal-body > .modal-img{
  position: absolute;
  width: 20vw;
  margin: 0.8vw;
  border-radius: 5px;
}


.overview {
  position: absolute;
  top: 10vw;
  left: 30vw;
  right: 5vw;
  font-size: 2vw;
  opacity: 80%;
  
}